# MySQL
MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_USER=news
MYSQL_PASSWORD=news123
MYSQL_DB=newsflash

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# Kafka
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_TOPIC=newsflash

# 采集器
COLLECT_INTERVAL=1
